/* Global */
@font-face {
    /* 추후에 font 전역 적용 예정 */
    font-family: 'Neo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button {
    font-family: 'Neo', sans-serif;
    background: #525252;
    color: #FFFFFF;
    height: 30px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 0px 12px;
    margin: 10px 10px 10px 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background: #000000;
}

/* Layout */
.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.background {
    position: relative;
    width: 940px;
    height: 440px;
    background: #343434;
    border-radius: 10px;
}

/* Start */
.start {
    display: flex;
    justify-content: center;
}

.thumbnail {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    top: 90px;
}

.blocks {
    width: 350px;
}

.logo {
    position: absolute;
    width: 250px;
    animation-name: logo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes logo {
    from {
        transform: translateY(-35px);
    }
    50% {
        transform: translateY(35px);
    }
    to {
        transform: translateY(-35px);
    }
}

.modeButtonBox {
    display: flex;
    position: absolute;
    bottom: 80px;
    justify-content: center;
}

.helpButton {
    position: absolute;
    padding: 0px 12px;
    bottom: 20px;
    right: 20px;
}