.alignCenter {
    position: absolute;
    z-index: 50;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 440px;
}

.mainBox {
    position: relative;
    width: 880px;
    height: 380px;
}

.flex {
    display: flex;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
}

.miniLogo {
    width: 280px;
    height: 45px;
    padding: 13px;
}

.desBox {
    display: flex;
    background: #C1F0FF;
    border-radius: 10px;
    width: 540px;
    height: 60px;
}

pre {
    font-family: 'Neo', sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px; /* [임시] 문장이 두 줄일 경우의 적정한 margin  */
}

.robot {
    width: 20px;
    height: 20px;
    padding: 20px;
}

/* board */
.board {
    width: 260px;
    height: 260px;
    background: #6F6F6F;
    border-radius: 10px;
    padding: 20px;
    margin-top: 9px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.boardItem {
    width: 22px;
    height: 22px;
    background: #343434;
    border: 2px solid #6F6F6F;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.boardItem:hover {
    border: 2px solid #70CBFF;
}

/* fighters */
.fighters {
    margin-top: 9px;
}

.firstTurn,
.laterTurn {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: space-between;
    width: 540px;
    height: 105px;
    background: #FFFFFF;
    border-radius: 10px;
}

.laterTurn {
    bottom: 50px;
}

.profile {
    width: 80px;
    height: 80px;
    margin: 11px;
}

.vs {
    position: absolute;
    font-family: 'Neo', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    top: 46.5%;
    right: 30%;
}

.blockBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    width: 410px;
}

.blockBox img {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.blockBox img:hover {
    transform: scale(1.1);
}

.cover {
    position: absolute;
    width: 540px;
    height: 105px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* footer */
.footer {
    position: absolute;
    right: -10px;
    bottom: -10px;
    display: flex;
}

.footer p {
    position: absolute;
    left: -380px;
    bottom: 5px;
    font-family: 'Neo', sans-serif;
    font-size: 13px;
    color: #55C475; /* [임시] */
}

.giveUp:hover {
    background: #D3151F;
}