.background {
    position: relative;
    z-index: 100;
    width: 940px;
    height: 440px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.container {
    font-family: 'Neo', sans-serif;
    color: #343434;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 10px;
    padding: 25px;
    cursor: default;
}

.container p {
    color: #FE0E1A;
    font-size: 10px;
    margin-top: 7px;
    margin-bottom: 12px;
}

.characterBox {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 3px;
}

.characterBox img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 100px;
}

.characterBox img:hover {
    transform: scale(1.1);
}

.nicknameBox input[type="text"] {
    border: none;
    border-bottom: 2px solid #343434;
    font-family: 'Neo', sans-serif;
    font-size: 15px;
    width: 200px;
    height: 30px;
    color: #7C7C7C;
}

.nicknameBox input[type="text"]:focus {
    outline: none;
}

.checkBox {
    display: flex;
    margin-left: -28px;
}

.checkBox input[type="radio"] {
    accent-color: #343434;
    width: 30px;
    margin: 0px 0px 0px 20px;
}

.buttonBox {
    display: flex;
    justify-content: center;
    margin: 5px -15px -15px;
}

.orangeButton {
    background: #FF9052;
}

.orangeButton:hover {
    background: #FF5C00;
}

.profileBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profileBox img {
    width: 80px;
}

.profileBox p {
    color: #343434;
    font-size: 20px;
    position: absolute;
    right: 130px;
    top: 40px;
}

/* Description Modal */
.desContainer {
    position: absolute;
    bottom: 44px;
    right: 70px;
    z-index: 70;
    background: #C1F0FF;
    opacity: 0.9;
    border-radius: 30px 30px 0px 30px;
    color: #343434;
    font-size: 15px;
    font-family: 'Neo', sans-serif;
}

.desContainer ul {
    line-height: 20px;
    margin-top: 0px;
    padding-right: 30px;
}

.desTitle {
    display: flex;
}

.desTitle p {
    margin-top: 23px;
    font-weight: bold;
}

.desTitle img {
    width: 20px;
    height: 20px;
    padding: 20px 15px 0px 20px;
}

.centerInfo {
    text-align: center;
    line-height: 20px;
}

.text {
    padding: 0px 30px 20px;
    line-height: 20px;
}